*{
    box-sizing: border-box;
}

body{
    background-color: #63b5f1;
}
header{
    width: 400px;
    margin: auto;
    margin-top: 100px;
    background-color: #3d84b8;
    padding: 20px;
    padding-bottom: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
h2{
    margin: 0;
    color: #ffffff;
    text-align: center;
}
main{
    width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
span{
    width: 80px;
    display: block;
    height: 80px;
    background-color: #1e425c;
    margin: auto;
    border: solid 3px #ffffff;
    border-radius: 50%;
    margin-top: -80px;
    margin-bottom: 40px;
}
h1{
    margin: 0;
    text-align: center;
    color: #3d84b8;
}
p{
    text-align: center;
}
footer{
    width: 400px;
    margin: auto;
    color: #ffffff;
}
div{
    text-align: center;
}
a{
    background-color: #3d84b8;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}
